@theme {
  --color-*: initial;

  --color-transparent: transparent;
  --color-current: currentColor;
  --color-white: #ffffff;

  --color-paper: hsl(190, 10%, 100%);
  --color-paper-dark: hsl(190, 10%, 90%);
  --color-paper-darker: hsl(190, 15%, 85%);

  --color-ink: hsl(190, 10%, 20%);
  --color-ink-light: hsl(190, 15%, 25%);

  --color-accent-light: hsl(190, 80%, 70%);
  --color-accent: hsl(190, 80%, 50%);
  --color-accent-dark: hsl(190, 60%, 40%);

  --color-cell-1: #047857;
  --color-cell-1-bg: #a7f3d0;

  --color-cell-2: #6d28d9;
  --color-cell-2-bg: #ddd6fe;

  --color-cell-3: #be185d;
  --color-cell-3-bg: #fbcfe8;

  --color-cell-4: #4d7c0f;
  --color-cell-4-bg: #d9f99d;

  --color-cell-5: #b45309;
  --color-cell-5-bg: #fde68a;

  --color-cell-6: #ef4444;
  --color-cell-6-bg: #fecaca;
}
